<script setup>
import {onMounted, watch, ref} from 'vue'
import {useRoute} from 'vue-router'
import productService from "@/services/product.service";

const list = ref()
const route = useRoute()

watch(
  () => route.params.label,
  (label) => {
    productService.getProductsByLabel(label).then((Response) => {
      list.value = Response.data;
    });
  }
)

onMounted(() => {
  productService.getProductsByLabel(route.params.label).then((Response) => {
    list.value = Response.data;
  });
})
</script>

<template>
  <p>About {{ list }}</p>
</template>

<style scoped>

</style>