<template>
  <p>
    <strong>Current route path:</strong> {{ $route.fullPath }}
  </p>
  <nav>
    <RouterLink to="/">Home</RouterLink> |
    <RouterLink to="/about/hello">About hello</RouterLink> |
    <RouterLink to="/about/world">About world</RouterLink> |
    <RouterLink to="/non-existent-path">Broken Link</RouterLink>
  </nav>
  <main>
    <RouterView />
  </main>
</template>